# MkDocs and theme
mkdocs==1.6.1
mkdocs-shadcn==0.9.5

# Plugins
mkdocstrings==0.30.1
mkdocstrings-python==1.18.2

# Markdown extensions (pymdownx is included in pymdown-extensions)
pymdown-extensions==10.16.1

# Syntax highlighting
Pygments>=2.18.0


